<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox.com and darksky.net, allowing you to see the current weather report for the location you provided.</p>
        <img class="portrait" src="img/about.jpg">
    </div>

    {{>footer}}
</body>
</html>