<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Should you bring a jacket today?</p>
        <form>
            <input placeholder="Location">

                <input type="radio" class="radio-button" id="daily" name="forecast" checked>
                <label class="radio-button" for="daily">Daily forecast</label>

                <input type="radio" class="radio-button" id="weekly" name="forecast">
                <label class="radio-button" for="weekly">Weekly forecast</label>

                <button>Search</button>
        </form>
        <p id="location-msg"></p>
        <p id="forecast-msg"></p>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>